<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Color Search</title>
 
<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<style>
header {
    position:absolute;
    top:20%;
    left:0;
    width:100%;
    text-align:center;
}
img {
    width:480px;
}
section {
    padding-top:15%;
	display:block;
}
footer {
    color:white;
    text-align:center;
    padding-top:10px;
    padding-bottom:25px;
    position:absolute;
    bottom:0;
    width:100%;
    font-size:15px;
    opacity:0.7
}

</style>
</head>


<header width="100%">
<img src="{{ url_for('static', filename='img/logo.png') }}" />
</header>
<body>
<section width="100%">
<form action="{{ url_for('search') }}">
    <div class="search"></div>
    <input action="{{ url_for('search') }}" type="text" placeholder="请输入关键词" name="keyword" value="" style="width:550px;" autocomplete="off">
</form>
</section>

<footer>
© 罗钰佳 张蓉宇
</footer>

<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
