<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="referrer" content="no-referrer" />
	<meta name=”viewport” content="width=device-width, initial-scale=1" />
    <title>豆瓣读书排名250</title>
	<style>
	table {margin-left: 10%}
	div.page-header{
	margin-bottom:0;
	padding-bottom:0;
	}
	</style>
</head>
<body>
<!--
{% for d in data:%}
{{d.loop}}<a href="{{d[1]}}">{{d[2]}}</a><br>
{%   endfor
%}
-->

	{%extends "base.htm" %}
	{%block title%}豆瓣读书排名250{% endblock %}
	{% block page_content %}
	{% endblock %}

</body>
</html>